.assets_helper
*.bak
anti-document-verification
changelog-template-edit.html
changelog-template.html
new.json
old.json
original_text_missing_translations.json
output
pack-all-small.png
pack-schinese-small.png
pack-tchinese-small.png
pack-with-version-number.cmd
schinese-modpack.txt